

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Error</h1>
    <h2><%= message %></h2>
    <pre><%= error %></pre>

    <div class="grid-container">
      <a href="./"><button class="grid-item">Back to home</button></a>
    </div>
    
  </body>
</html>
